<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 
"-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="boardMapper">
	
	<resultMap type="BoardDTO" id="boardDTOResultSet">
		<id column="board_sq" property="boardNo"/>
		<result column="bd_category" property="boardCategory"/>	
		<result column="bd_title" property="boardTitle"/>	
		<result column="emp_name" property="empName"/>	
		<result column="emp_id" property="empId"/>	
		<result column="bd_content" property="boardContent"/>	
		<result column="create_date" property="createDate"/>	
		<result column="modify_date" property="modifyDate"/>	
		<result column="bd_count" property="count"/>	
		<result column="bd_like" property="like"/>	
		<result column="bd_status" property="status"/>	
		<result column="files" property="boardFiles"/>	
	</resultMap>
	
	<resultMap type="BoardAttachment" id="boardAttachmentResultSet">
		<id column="bd_file_no" property="bdFileNo"/>
		<result column="ref_board_sq" property="refBoardNo"/>
		<result column="ba_origin_name" property="baOriginName"/>
		<result column="ba_change_name" property="baChangeName"/>
		<result column="ba_file_path" property="baFilePath"/>
		<result column="update_date" property="updateDate"/>
		<result column="status" property="status"/>
	</resultMap>
	
	<resultMap type="BoardLike" id="boardLikeResultSet">
		<id column="emp_id" property="empId"/>
		<id column="board_sq" property="boardNo"/>
		<result column="bd_date" property="blDate"/>
	</resultMap>

	<select id="selectListCount" parameterType="_int" resultType="_int">
		SELECT COUNT(*)
		  FROM V_BOARD_LIST
		 WHERE BD_STATUS='Y'
		   AND BD_CATEGORY=#{cat}
	</select>
	
	<select id="selectList" parameterType="_int" resultMap="boardDTOResultSet">
		SELECT *
		  FROM V_BOARD_LIST
		 WHERE BD_STATUS='Y'
		 AND BD_CATEGORY=#{cat}
		 ORDER BY BOARD_SQ DESC
	</select>
	
	<select id="searchListcount" parameterType="sc" resultType="_int">
		select count(*)
          from v_board_list
         where bd_status = 'Y' and bd_category = #{boardCategory}
       		<if test="writer != null">
       			and emp_name like '%'||#{writer}||'%'
       		</if>
			<if test="title != null">
				and bd_title like '%'||#{title}||'%'
			</if>
			<if test="content != null">
				and bd_content like '%'||#{content}||'%'
			</if>
			<if test="start != '' and end != ''">
				and create_date between #{start} and #{end}
			</if>
		
	</select>
	
	<select id="searchList" parameterType="sc" resultMap="boardDTOResultSet">
		select *
          from v_board_list
         where bd_status = 'Y' and bd_category = #{boardCategory}
       		<if test="writer != null">
       			and emp_name like '%'||#{writer}||'%'
       		</if>
			<if test="title != null">
				and bd_title like '%'||#{title}||'%'
			</if>
			<if test="content != null">
				and bd_content like '%'||#{content}||'%'
			</if>
			<if test="start != '' and end != ''">
				and create_date between #{start} and #{end}
			</if>
		order by board_sq desc
	</select>
	
	<insert id="insertBoard" parameterType="Board">
		insert into board
		values(SEQ_BDNO.NEXTVAL, #{boardCategory}, #{boardWriter}, #{boardTitle}, #{boardContent}, SYSDATE, SYSDATE, 0, 'Y', 0)
	</insert>
	
	<insert id="insertBoardAttachment" parameterType="BoardAttachment">
		insert into board_attachment
		values(SEQ_BANO.NEXTVAL, SEQ_BDNO.CURRVAL, #{baOriginName}, #{baChangeName}, #{baFilePath}, SYSDATE, 'Y')
	</insert>
	
	<update id="increaseCount" parameterType="_int">
		update board
		   set bd_count = bd_count+1
		 where board_sq = #{bno} and bd_status='Y'
	</update>
	
	<select id="selectBoardAttachment" parameterType="_int" resultMap="boardAttachmentResultSet">
		select *
    	  from board_attachment
		 where ref_board_sq = #{bno} and status ='Y'
	</select>
	
	<select id="selectBoard" parameterType="_int" resultMap="boardDTOResultSet">
		select *
		  from v_board_list
		 where board_sq = #{bno}
	</select>
	
	<update id="deleteBoard" parameterType="_int">
		update board
		   set bd_status ='N'
		 where board_sq = #{bno}
	</update>
	<update id="deleteBoardAttachment" parameterType="_int">
		update board_attachment
		   set status = 'N'
		 where bd_file_no = #{bcFileNo}
	</update>
	
	<select id="selectBoardLike" parameterType="BoardLike" resultMap="boardLikeResultSet">
		select * 
		  from board_like
		 where emp_id = #{empId} and board_sq = #{boardNo}
	</select>
	
	<insert id="insertBoardLike" parameterType="BoardLike">
		insert into board_like
		values(#{empId}, #{boardNo}, SYSDATE)
	</insert>
</mapper>
