<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 
"-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="documentMapper">

	<resultMap type="Document" id="documentResultSet">
		<result column="DOC_NO" property="docNo"/>
		<result column="EMP_ID" property="empName"/>
		<result column="DOC_DEPARTMENT" property="deptCode"/>
		<result column="DOC_TITLE" property="titleIput"/>
	</resultMap>
	
	<insert id="insertProof" parameterType="Document">
		INSERT INTO DOCUMENT
		VALUES(2, #{empId}, '기안서', 1, #{titleInput}, '최해성', '11', '11', 1)
	</insert>

</mapper>