<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 
"-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="documentMapper">

	<!-- 제증명 -->
	<resultMap type="Document" id="documentResultSet">
		<result column="DOC_NO" property="docNo"/>					<!-- 문서코드 -->
		<result column="EMP_ID" property="empId"/>					<!-- 기안자 사원번호 -->
		<result column="DOC_SC" property="titleIput"/>				<!-- 기안서, 경조사, 휴가, 제증명 -->
		<result column="DOC_STATUS" property="docStatus"/>			<!-- 0:대기 1: 진행 2: 완료 3: 반려 4:회수 -->
		<result column="DOC_TITLE" property="docTitle"/>			<!-- 문서제목 -->
		<result column="DOC_REFERENCE" property="docReference"/>	<!-- 참조자 사원번호 -->
		<result column="DOC_DATE" property="docDate"/>				<!-- 기안일자 -->
		<result column="DOC_END" property="docEnd"/>				<!-- 마감일자 -->
		<result column="DOC_DEPARTMENT" property="docDepartment"/>	<!-- 개발팀, 경영지원팀 -->
		<result column="PF_SQ" property="pfSq"/>					<!-- 재직증명서,  경력증명서, 퇴직증명서 -->
		<result column="PF_PURPOSE" property="pfPurpose"/>			<!-- 용도 -->
		<result column="PF_STATUS" property="pfStatus"/>			<!-- 발행확인 되면 Y값 변경 -->
		
	</resultMap>
	
	<!-- 제증명신청서 insert -->
	<insert id="insertProof" parameterType="Document">
		insert into proof
		values(SEQ_DOCNO.NEXTVAL, #{empId}, '제증명', 0, #{docTitle}, '참조자', #{docDate}, #{docEnd}, #{docDepartment}, 
				#{pfSq}, #{pfPurpose}, 'Y' )
	</insert>

</mapper>



