<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="reservationMapper">

	<resultMap type="Reservation" id="reservationResultSet">
		<id column="RES_NO" property="reservationNo"/>
		<result column="EMP_ID" property="empId"/>
		<result column="EMP_NAME" property="empName"/>
		<result column="DEPT_NAME" property="deptName"/>
		<result column="RES_ROOM_NO" property="roomNo"/>
		<result column="RES_DATE" property="reservationDate"/>
		<result column="RES_STR_TIME" property="startTime"/>
		<result column="RES_END_TIME" property="endTime"/>
		<result column="RES_PURPOSE" property="purpose"/>
		<result column="RES_STATUS" property="status"/>
	</resultMap>
	
	<select id="selectReservationList" parameterType="string" resultMap="reservationResultSet">
		SELECT RES_NO, EMP_ID, EMP_NAME, DEPT_NAME, RES_ROOM_NO, RES_DATE, RES_STR_TIME, RES_END_TIME, RES_PURPOSE, RES_STATUS
		  FROM RESERVATION
		  JOIN EMPLOYEE USING(EMP_ID)
		  JOIN DEPARTMENT USING(DEPT_CODE)
		 WHERE RES_DATE=#{today} AND RES_STATUS NOT IN '취소'
	</select>
	
	<select id="selectDayReservation" parameterType="string" resultMap="reservationResultSet">
		SELECT RES_NO, EMP_ID, EMP_NAME, DEPT_NAME, RES_ROOM_NO, RES_DATE, RES_STR_TIME, RES_END_TIME, RES_PURPOSE, RES_STATUS
		  FROM RESERVATION
		  JOIN EMPLOYEE USING(EMP_ID)
		  JOIN DEPARTMENT USING(DEPT_CODE)
		 WHERE RES_DATE=#{dayIndex} AND RES_STATUS NOT IN '취소'
	</select>
	
	<select id="selectMyReservationList" parameterType="string" resultMap="reservationResultSet">
		SELECT *
		  FROM RESERVATION
		 WHERE EMP_ID=#{empId}
	</select>
	
	<insert id="insertReservation" parameterType="Reservation">
		INSERT INTO RESERVATION
		VALUES(SEQ_RESNO.NEXTVAL, #{empId}, #{roomNo}, #{reservationDate}, #{startTime}, #{endTime}, #{purpose}, '예정')
	</insert>
	

</mapper>
