<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC 
"-//mybatis.org//DTD Config 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>

	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	
	<typeAliases>
		<typeAlias type="com.kh.teamworks.board.model.vo.Board" alias="Board"/>
		<typeAlias type="com.kh.teamworks.employee.model.vo.Employee" alias="Employee"/>
		<typeAlias type="com.kh.teamworks.approval.model.vo.Document" alias="Document"/>
		<typeAlias type="com.kh.teamworks.reservation.model.vo.Reservation" alias="Reservation"/>
		<typeAlias type="com.kh.teamworks.schedule.model.vo.Schedule" alias="Schedule"/>
		<typeAlias type="com.kh.teamworks.board.model.vo.BoardAttachment" alias="BoardAttachment"/>
		<typeAlias type="com.kh.teamworks.board.model.vo.BoardDTO" alias="BoardDTO"/>
		<typeAlias type="com.kh.teamworks.board.model.vo.BoardLike" alias="BoardLike"/>
		<typeAlias type="com.kh.teamworks.board.model.vo.BoardReply" alias="BoardReply"/>
		<typeAlias type="com.kh.teamworks.board.model.vo.BoardReplyDTO" alias="ReplyDTO"/>
		<typeAlias type="com.kh.teamworks.board.model.vo.SearchBoardCondition" alias="sc"/>
		<typeAlias type="com.kh.teamworks.approval.model.vo.ApproveSearchCondition" alias="asc"/>
		<typeAlias type="com.kh.teamworks.approval.model.vo.ApproveLine" alias="al"/>
		<typeAlias type="com.kh.teamworks.approval.model.vo.FrequentApprovalLine" alias="fal"/>
		<typeAlias type="com.kh.teamworks.management.model.vo.CompanyBsns" alias="MgBsns"/>
		<typeAlias type="com.kh.teamworks.management.model.vo.CompanyInfo" alias="MgInfo"/>
		<typeAlias type="com.kh.teamworks.management.model.vo.Department" alias="MgDept"/>
		<typeAlias type="com.kh.teamworks.management.model.vo.Employee" alias="MgEmp"/>
		<typeAlias type="com.kh.teamworks.management.model.vo.Job" alias="MgJob"/>
		<typeAlias type="com.kh.teamworks.management.model.vo.Proof" alias="MgProof"/>
		<typeAlias type="com.kh.teamworks.management.model.vo.Vacation" alias="MgVac"/>
	</typeAliases>
	
	<mappers>
		<mapper resource="mappers/board-mapper.xml"/>
		<mapper resource="mappers/employee-mapper.xml"/>
		<mapper resource="mappers/reservation-mapper.xml"/>
		<mapper resource="mappers/schedule-mapper.xml"/>
		<mapper resource="mappers/document-mapper.xml"/>
		<mapper resource="mappers/approve-mapper.xml"/>
	</mappers>

</configuration>
